.notes-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: calc(100vh - 68.5px);
    position: relative;

    .notes-text {
        overflow: hidden;
        word-wrap: break-word;
        resize: none;
        height: 80vh;
        width: 90%;
        padding: 30px;
        border: none;
        font-size: 24px;

        &:focus {
            outline: none;
        }
    }

    .status-chip {
        position: absolute;
        bottom: 32px;
        left: 60px;
    }
}